#content {
  display: flex;
  background-color: var(--appBGColor);
  color: var(--appColor);
}

/*TOPBAR*/

#topBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: var(--nav-height);
  background-color: var(--uiBGColor);
  color: var(--uiColor);
}

#topBar input {
  background-color: transparent;
  color: var(--uiColor);
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
}

#topBar input::placeholder {
  color: var(--uiColor);
}

#topBar input:focus-visible {
  border: none;
  outline: none;
}

#topBar input:not(:placeholder-shown) {
  background-color: rgba(var(--inputHoverColorPure), 0.1);
}

#topBar > *{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  flex: 1;
}

#topBar > div{
  justify-content: center;
}

#topBar > a{
  margin-left: 2vw;
  flex: unset;
}

/*SIDEBAR CONTAINER*/

#sidebarContainer {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - var(--nav-height));
  flex: 1;
}

/*BROWSER SERVERS*/

#browserServers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 12vh;
}

#browserServers:hover {
  background: rgba(var(--uiHoverColorPure), 0.01);
}

#browserServers > button {
  width: 75%;
  margin: 2%;
  padding: 2%;
}

/*MESSAGES*/

#messagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--uiBGColor);
  background: transparent;
  height: calc(100vh - var(--nav-height));
  flex: 3;
}

#messagesContainer > div {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow-y: auto;
  visibility: hidden;
}

#messagesContainer > div > div,
#messagesContainer > div:hover,
#messagesContainer > div:focus {
  visibility: visible;
}

/*PROFILE*/

#profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 20vh;
}

#profile:hover {
  background: rgba(var(--uiHoverColorPure), 0.01);
}

/* Settings button */
#profile .settings{
  width: 50px;
  height: 50px;
  border-radius: 314px;
}

#profile .settings > svg{
  width: 1.7em;
  height: 1.7em;
  fill: var(--inputColor);
}

/*CONVERSATIONS*/

#conversationsList {
  flex-grow: 1;
  overflow-y: auto;
  visibility: hidden;
}

#conversationsList:hover {
  background-color: rgba(var(--uiHoverColorPure), .01);
}

#conversationsList > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#conversationsList div,
#conversationsList:hover,
#conversationsList:focus {
  visibility: visible;
}

/*Temporary*/

#conversationsList > div > p {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  margin: 3% 0;
}

@media only screen and (max-width: 670px) {
  #profile{
    flex-direction: column-reverse;
  }
}