.connectProfile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: 100px;
  height: 50px;
  border-radius: 314px;
  background-color: rgba(var(--uiBGColorPure), .6);
  color: var(--uiColor);
  border: none;
  padding: 0;
}

.connectProfile:hover {
  background-color: rgba(var(--uiHoverColorPure), 1);
}

.connectProfile img {
  border-radius: 314px;
  max-height: 50px;
}

.connectProfile > p {
  flex-grow: 1;
  margin: 0 2% 0 2%;
  font-size: 1.1em;
}
