.hidden{
    display: none !important;
}

.edit{
    display: flex;
    align-items: center;
    padding-left: 3%;
    flex: 1;
}

.edit > div{
    display: flex;
    align-items: center;
    flex: 1;
}

.edit > div > *{
    margin-left: 1%;
}

.edit a{
    background-color: rgba(var(--uiHoverColorPure), .6);
    color: var(--inputColor) !important;
    border-radius: 314px;
    padding: .4em .75em;
    cursor: pointer;
}

.edit a:hover{
    background-color: rgba(var(--uiHoverColorPure), 1);
}

.edit input{
    border-radius: 10px;
    padding: .4em .75em;
    text-align: center;
}