/* FRIEND MODAL */

#friendModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: var(--uiBGColor);
  z-index: 1;
  width: 30%;
  height: 20%;
  bottom: 60%;
  left: 10%;
  padding: 1%;
}

#friendModal > p {
  color: var(--uiColor);
  font-size: 1.4em;
  text-align: center;
}

#friendModal > input {
  flex: 0.2;
  text-align: center;
  border: var(--inputColor) 1px solid;
  color: var(--inputColor);
  background-color: transparent;
}

#friendModal input::placeholder {
  color: var(--inputColor);
}

#friendModal > div {
  display: flex;
  justify-content: center;
  flex: 0.2;
}

#friendModal > div > button {
  flex: 1;
}
