.selectedFriend,
.selectedFriend:hover {
  background-color: rgba(var(--uiHoverColorPure), 0.15) !important;
}

.friendContainer {
  display: flex;
  padding: 2.5%;
  justify-content: flex-start;
  align-items: center;
}

.friendContainer:hover {
  background-color: rgba(var(--uiHoverColorPure), 0.05);
}

.friendContainer > p {
  user-select: none;
  margin-left: 7% !important;
  font-weight: 900;
  font-size: 1.2rem;
}