:root{
  --mountain-gray: rgba(77, 77, 82, 1);
  --lake-blue: rgba(179, 225, 238, 1);
  --sky-white: rgba(230, 239, 248, 1);
  --forest-green: rgba(56, 61, 31, 1);
  --gravel-black: rgba(22, 24, 12, 1);
  --chainlink-blue: rgba(55, 91, 210, 1);
  --transparent: rgba(0, 0, 0, 0);
}

/*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(77, 77, 82, .5); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(22, 24, 12, .2); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(22, 24, 12, .4); 
}

html,
body {
  padding: 0;
  margin: 0;
}

html{
  overflow-x: hidden;
  background: radial-gradient(circle, var(--sky-white) 0%, var(--lake-blue) 150%);
  height:100vh;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* For logo in Nav */
.logoContainer{
  position: relative;
  height: 60px;
  width: 60px;
}

.hypha-button{
  background-color: var(--forest-green);
  color: var(--sky-white);
  border:none;
  border-radius: 5px;
  opacity: .6;
}

.hypha-button:hover{
  opacity: 1;
  outline: groove 2px rgba(230,239,248,.2);
  border-radius: 0px;
}

/*OVERLAY BUTTONS*/

.overlay{
  background-color: var(--forest-green);
  position: absolute;
  bottom:calc(2% + 50px);
}

.overlay button:hover{
  color:var(--lake-blue) !important;
}