:root{
  --mountain-gray: rgba(77, 77, 82, 1);
  --lake-blue: rgba(179, 225, 238, 1);
  --sky-white: rgba(230, 239, 248, 1);
  --forest-green: rgba(56, 61, 31, 1);
  --gravel-black: rgba(22, 24, 12, 1);
  --chainlink-blue: rgba(55, 91, 210, 1);
  --transparent: rgba(0, 0, 0, 0);
}

/*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(77, 77, 82, .5); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(22, 24, 12, .2); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(22, 24, 12, .4); 
}

html,
body {
  padding: 0;
  margin: 0;
}

html{
  overflow: hidden;
  background: radial-gradient(circle, var(--sky-white) 0%, var(--lake-blue) 150%);
  height:100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

#content{
  display: flex;
}

.hypha-button{
  background-color: var(--forest-green);
  color: var(--sky-white);
  border:none;
  border-radius: 5px;
  opacity: .6;
}

.hypha-button:hover{
  opacity: 1;
  outline: groove 2px rgba(230,239,248,.2);
  border-radius: 0px;
}

/*CONTEXT MENU*/

#context-menu{
  display: none;
  flex-direction: column;
  position: absolute;
  list-style: none;
  background-color: var(--mountain-gray);
  border-radius: .2em;
  padding: .4em 0 .4em 0;
  z-index: 10;
}

#context-menu li button{
  display: flex;
  flex: 1;
  width: 100%;
  color: var(--sky-white);
  background-color: var(--mountain-gray);
  border: none;
}

#context-menu li button:hover{
  background-color: var(--gravel-black);
  cursor: pointer;
}

#context-menu li button p{
  margin: 0;
  padding: 0;
  padding: .5em 2em .5em 2em;
}

#context-menu li button #context-icon{
  padding: .5em 0 .5em .5em;
  width: 16px;
}

.show-context-menu{
  display: flex !important;
}

/*TOP BAR*/

#top-bar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height:60px;
  background-color: var(--forest-green);
  color: white;
}

#top-bar input{
  background-color: var(--transparent);
  color: black;
  width:100%;
  height:100%;
  border: none;
}

#top-bar input::placeholder{
  color: white;
}

#top-bar input:focus-visible{
  border:none;
  outline: none;
}

#top-bar > *{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  flex-grow: 1;
}

#search{
  height: 100%;
  width: 400px;
}

/*MESSAGES*/

#messages-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: var(--sky-white);
  background: var(--transparent);
  height: calc(100vh - 60px);
  flex: 3;
}

#messages-container > div{
  display: flex;
  flex-direction: column-reverse;
  height:100%;
  overflow-y: auto;
  visibility: hidden;
}

#messages-container > div > div,
#messages-container > div:hover,
#messages-container > div:focus {
  visibility: visible;
}

/*MESSAGE DISPLAY*/

.message{
  display: flex;
  padding: 2.5%;
  border-radius: 5px;
}

.message:hover{
  background-color: rgba(22, 24, 12, .05);
}

.message p{
  margin: 0;
}

.message > img{
  border-radius: 314px;
  max-height: 75px;
  margin: 0 1em 0 0;
}

/*The div that holds message profile*/
.message > div{
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.message div div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
  white-space: nowrap;
}

.message > div > img{
  object-fit: contain;
  width: 250px;
  height: 250px;
}

#messageID{
  margin: 0 1em 0 0;
}

#messageDate{
  font-size: .7em;
  font-style: italic;
}

#messageText{
  word-break: break-word;
}

.message.own{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.message.own > div{
  align-items: flex-end;
}

.message.own > div > div{
  flex-direction: row-reverse;
}

.message.own p{
  margin-right: 2%;
}

/*SEND MESSAGE TEXT BAR*/

#send-message{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--forest-green);
  min-height: 50px;
  margin:1.5%;
  padding: 0 1% 0 1%;
  border-radius: 20px;
}

#send-message button, #add-file-label{
  font-size: 1.2em;
  background-color: var(--transparent);
  color: rgba(255, 255, 255, .5);
  border: none;
}

#send-message #add-file-label{
  background-color: rgba(255, 255, 255, .5);
  color:var(--forest-green);
  border-radius: 314px;
  padding: 0 .4em 0 .4em;
}

#send-message #add-file-label:hover{
  background-color: rgba(255, 255, 255, .8);
}

#send-message #add-file{
  display: none;
}

#send-message #send-crypto{
  font-size: 1.8em;
  letter-spacing:1px;
}

#send-message #send-crypto:hover{
  font-size: 1.8em;
  color: var(--gravel-black);
  text-shadow: 1px 0 var(--gravel-black);
  letter-spacing:1px;
}

#send-message #chainlink-feed{
  font-size: 2em;
  font-weight: 900;
  letter-spacing:1px;
}

#send-message #chainlink-feed:hover{
  font-size: 2em;
  font-weight: 900;
  color: var(--chainlink-blue);
  text-shadow: 1px 0 var(--chainlink-blue);
  letter-spacing:1px;
}

#send-message #pick-emoji{
  filter: grayscale();
  transform: scale(1.2);
}

#send-message #pick-emoji:hover{
  filter: none;
  color: white;
  transform: scale(1.4);
}

#send-message #message-submit:hover{
  color: rgba(255, 255, 255, .8);
}

#send-message p{
  font-size: 20px;
  color:var(--sky-white);
  margin: 0 1% 0 1%;
}

#message-text{
  color: var(--sky-white);
  width:75%;
  height:100%;
  background-color: var(--transparent);
  border: none;
}

#message-text::placeholder{
  color:var(--mountain-gray);
}

#message-text:focus-visible{
  border:none;
  outline: none;
}

/*SIDEBAR CONTAINER*/

#sidebar-container{
  background: var(--transparent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:calc(100vh - 60px);
  flex: 1;
}

/*BROWSER SERVERS*/

#browser-servers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 12vh;
}

#browser-servers:hover{
  background: rgba(0,0,0,.01);
}

#browser-servers > button{
  width: 75%;
  margin: 2%;
  padding: 2%;
}

/* FRIEND MODAL */

#friend-modal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: var(--forest-green);
  z-index: 1;
  width: 30%;
  height: 20%;
  bottom: 60%;
  left: 10%;
  padding: 1%;
}

#friend-modal > p{
  color: white;
  font-size: 1.4em;
  text-align: center;
}

#friend-modal > input{
  flex: .2;
  text-align: center;
}

#friend-modal > div{
  display: flex;
  justify-content: center;
  flex: .2;
}

#friend-modal > div > button{
  flex: 1;
}

/*FRIENDS*/

#friends-list{
  flex-grow: 1;
  overflow-y: auto;
  visibility: hidden;
}

#friends-list:hover{
  background: rgba(0,0,0,.01);
}

#friends-list > div{
  display: flex;
  flex-direction: column;
  height:100%;
}

#friends-list div,
#friends-list:hover,
#friends-list:focus {
  visibility: visible;
}

/*Temporary*/

#friends-list p{
  text-align: center;
}

.selected-friend, .selected-friend:hover{
  background-color: rgba(22, 24, 12, .15) !important;
}

.friend-container{
  display: flex;
  padding: 2.5%;
  justify-content: flex-start;
  align-items: center;
}

.friend-container:hover{
  background-color: rgba(22, 24, 12, .05);
}

.friend-container img{
  border-radius: 314px;
  max-height: 50px;
}

.friend-container p{
  margin-left: 2%;
}

/*PROFILE*/

#profile{
  display: flex;
  /*Set connect button to bottom right of container*/
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 20vh;
}

#profile:hover{
  background: rgba(0,0,0,.01);
}

/*Both divs inside profile container*/
#profile > div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:50%;
  height:100%;
  margin: 5%;
}

#profile #current-activity a{
  text-decoration: none;
  color:black;
}

#profile #current-activity a:hover{
  color:var(--forest-green);
}

#profile #connect-area{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile #connect-area button{
  height:60px;
  width:140px;
  border-radius: 314px;
}

.self-profile{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  height: 50px;
  border-radius: 314px;
  background-color: var(--lake-blue);
  border: none;
  padding: 0;
}

.self-profile:hover{
  background-color: rgba(22, 24, 12, .2);
}

.self-profile img{
  border-radius: 314px;
  max-height: 50px;
}

.self-profile p{
  flex-grow: 1;
  margin: 0 2% 0 2%;
}

/*SEND BAR OVERLAY BUTTONS*/

.overlay{
  background-color: var(--forest-green);
  position: absolute;
  bottom:calc(2% + 50px);
}

.overlay button:hover{
  color:var(--lake-blue) !important;
}

/*MESSAGE CONTEXT*/

#msg-context{
  background-color: var(--forest-green);
  position: absolute;
  min-height: 40%;
  min-width: 53vw;
  right: 15%;
}

#msg-context > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#msg-context > div button{
  flex: 1;
}

#msg-context > div button:hover{
  color: var(--lake-blue);
}

/*CHAINLINK FEEDS*/

#chainlink-feeds{
  display: grid;
  grid-template-columns: auto auto auto auto;
  right: 10%;
  min-height: 100px;
  min-width: 100px;
  border-radius: 50px;
  z-index: 2;
}

#chainlink-feeds.loadingCLFeeds{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 6px dotted var(--lake-blue);
  border-radius: 314px;
  animation: spin 3s linear infinite;
}

#chainlink-feeds.loadingCLFeeds p{
  animation: spin 3s linear reverse infinite, blink 5s linear infinite;
  font-size: 1em;
}

/*TOKEN FEED*/
#token-feed{
  position: relative;
  background-color: var(--sky-white);
  border: var(--forest-green) 5px outset;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 150px;
  border-radius: 50px;
  overflow: hidden;
  z-index: 1;
}

#token-feed .static-feed{
  display: none;
  background-color: var(--transparent);
}

#token-feed .wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('../public/wave.png');
  background-size: 1000px 100px;
  margin: 0;
  transform: translateY(35px);
}

#token-feed .wave.water
{
   animation: animate 25s linear infinite;
   z-index:-10;
   opacity:1;
   animation-delay: 0s;
   bottom:0;

}

#token-feed .wave.water:nth-child(2)
{
   animation: animate2 15s linear infinite;
   z-index:-9;
   opacity:0.5;
   animation-delay: -5s;
   bottom:5px;

}
#token-feed .wave.water:nth-child(3)
{
   animation: animate 30s cubic-bezier(.55, .5,.45,.5) infinite;
   z-index:-8;
   opacity:0.2;
   animation-delay: -5s;
   bottom:10px;

}
#token-feed .wave.water:nth-child(4)
{
   animation: animate2 5s linear infinite;
   z-index:-7;
   opacity:0.7;
   animation-delay: -5s;
   bottom:15px;

}

@keyframes animate
{
   0%{
       background-position-x: 0;
   }
   100%{
       background-position-x: 1000px;
   }
}
@keyframes animate2
{
   0%{
       background-position-x: 0;
   }
   100%{
       background-position-x: -1000px;
   }
}

#token-feed:hover{
  background-color: var(--lake-blue);
}

#token-feed > div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 2% auto 2% auto;
  transform: translateY(25%);
  width: 50%;
}

#token-feed div > svg{
  margin-right: 5%;
}

#token-feed div > h1{
  font-size: 1.7em;
  margin: 0;
}

#token-feed > p{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 2% auto 2% auto;
  font-size: 1.3em;
  color: black;
  transform: translateY(-25%);
  width: 50%;
}

#token-feed:hover #credit-div{
  display: flex;
}

#token-feed #credit-div{
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  width:100%;
  bottom: 5%;
}

#token-feed #credit-div p{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width:100%;
  margin-right: 15%;
  color: black;
}

#token-feed #credit-div #credit{
  font-size: .75em;
  color:var(--chainlink-blue);
}

#token-feed #credit-div :not(#credit){
  font-size: .5em;
  font-style: italic;
}

#token-feed input{
  position: absolute;
  margin-top: 7%;
  margin-left: 7%;
  width: 1.3em;
  height: 1.3em;
  background-color: var(--sky-white);
  border-radius: 50%;
  vertical-align: middle;
  border: 2px dotted var(--forest-green);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#token-feed input.hideLiveFeedCheckbox{
  display: none;
}

#token-feed input:checked{
  background-color: var(--forest-green);
  animation: blink 2s linear infinite;
}

@keyframes blink{
  50% {
    opacity: 0;
  }
}



/*EMOJI MENU*/

#emoji-menu{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: .5em;
  padding: .5%;
  right: 3%;
  /* min-height: 10vh; */
  min-width: 10vw;
}