:root{
  --mountain-gray: rgba(77, 77, 82, 1);
  --primary-color: rgba(230, 239, 248, 1);
  --secondary-color: rgba(179, 225, 238, 1);
  --ui-color: var(--vdark-brown);
  --gravel-black: rgba(22, 24, 12, 1);
  --chainlink-blue: rgba(55, 91, 210, 1);
  --transparent: rgba(0, 0, 0, 0);

  /*New Hypha Colors*/
  --olive-green: rgba(91, 95, 50, 1);
  --yellow-lime: rgba(214, 222, 35, 1); 

  /* Index */
  --hero: rgba(82, 57, 47, 1);
  --light-brown: rgba(72, 47, 37, 1);
  --med-brown: rgba(62, 37, 27, 1);
  --dark-brown: rgba(52, 27, 17, 1);
  --vdark-brown: rgba(42, 17, 7, 1);
  --text-color: rgba(255, 255, 255, 1);

  /*Tooltip*/
  --tooltip-text-color: var(--primary-color);
  --tooltip-background-color: var(--ui-color);
  --tooltip-margin: 30px;
  --tooltip-arrow-size: 6px;

  /*Nav*/
  --nav-height: 90px;
  --logo-size: 60px;
}

/*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(77, 77, 82, .5); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(22, 24, 12, .2); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(22, 24, 12, .4); 
}

html,
body{
  padding: 0;
  margin: 0;
}

html{
  overflow-x: hidden;
  height:100vh;
  font-family: "Montserrat Alternates";
}

h1{
  margin: 0;
}

h2{
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

p{
  margin: 0;
}

/* For logo in Nav */
.logoContainer{
  position: relative;
  display: flex;
  align-items: center;
  max-height: var(--logo-size);
  margin-top: 1vh;
  margin-bottom: 1vh;
  color: var(--olive-green);
  user-select: none;
  margin-left: 3%;
}

.logoContainer svg{
  max-height: var(--logo-size);
  max-width: var(--logo-size);
}

.logoContainer h1{
  margin-left: 5%;
}

.hypha-button{
  background-color: var(--ui-color);
  color: var(--primary-color);
  border:none;
  border-radius: 5px;
  opacity: .6;
}

.hypha-button:hover{
  opacity: 1;
  outline: groove 2px rgba(230,239,248,.2);
  border-radius: 0px;
}

/*OVERLAY BUTTONS*/

.overlay{
  background-color: var(--ui-color);
  position: absolute;
  bottom:calc(2% + 50px);
}

.overlay button:hover{
  color:var(--secondary-color) !important;
}