.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--nav-height);
  background-color: white;
}

.nav > * {
  display: flex;
  justify-content: center;
}

.nav > div{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  flex: 1;
}

.nav > div > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  flex: .5;
  margin: 0 auto;
}

.nav > div > ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  margin-left: 5%;
}

.nav > div > ul li a {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--olive-green);
  padding: 3%;
}

.nav > div > ul li a:hover {
  transform: scale(1.1);
}

/* Enter App Buttons */
.enter {
  font-weight: 900;
  color: var(--olive-green);
  font-size: 1em;
  padding: 1%;
  border: var(--olive-green) 2px solid;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin-right: 3%;
}

.enter:hover {
  color: var(--yellow-lime);
  background-color: var(--olive-green);
}

.hamburger{
  display: none;
}

.hero{
  display: flex;
  height: calc(100vh - 60px);
  width: 100vw;
  background-color: var(--yellow-lime);
  color: var(--olive-green);
}

.hero > *{
  display: flex;
  justify-content: center;
  flex: 1;
  height: 100%;
  padding: 0 3% 0 3%;
}

.hero .desc{
  flex-direction: column;
  background-image: url(/hypha-pattern.svg);
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.hero .desc > h2{
  font-size: 3rem;
}

.hero .desc > p{
  margin-top: 3%;
  font-size: 1.5rem;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: fit-content;
  color: var(--olive-green);
}

.features > h1{
  font-size: 2em;
  margin-top: 3%;
}

.features > ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 5%;
  width: 75%;
  min-height: 60vh;
  margin: 3%;
}

.features > ul > li{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-size: 1.3em;
  font-weight: bold;
  margin: 5%;
}

.features > ul > li > div{
  background-color: #C4C4C4;
  min-height: 150px;
  height: 100%;
  min-width: 250px;
  margin-bottom: 10%;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow-lime);
  min-height: 20vh;
}

.about p {
  color: black;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: white;
}

.footer > ul{
  display: flex;
  justify-content: center;
  flex: 1;
}

.footer > ul li{
  color: var(--olive-green);
  margin: 0 5% 0 5%;
}

@media only screen and (max-width: 670px) {
  /* Hide the mobile menu (when hamburger hasn't been toggled on) */
  .hideMobileMenu{
    display: none !important;
  }

  .hamburger{
    display: block;
    margin-left: auto;
    margin-right: 3%;
    color: var(--olive-green);
    font-size: 1.5em;
    cursor: default;
    user-select: none;
  }

  .nav > div {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: var(--nav-height);
    left: 0;
    height: fit-content;
    width: 100vw;
    background-color: white;
  }

  .nav > div > ul {
    display: flex;
    flex-direction: column;
  }

  .nav > div > a{
    font-size: 1.2em;
    color: black;
    margin: 1% auto 3% auto;
    width: fit-content;
  }

  .hero .desc h2{
    font-size: 2rem;
  }

  .hero .desc p{
    font-size: 1rem;
  }

  .hero .threejs{
    display: none;
  }

  .features > h1{
    font-size: 1.5em;
  }

  .features > ul > li{
    font-size: 1.1em;
  }

  .features > ul{
    display: flex;
    flex-direction: column;
    gap: unset;
  }

  .footer > ul:nth-child(2){
    display: none;
  }
}