/* CONVERSATION MODAL */

.title{
  color: var(--uiColor);
  font-size: 1.4em;
  text-align: center;
  padding: 2% 0;
}

#inviteModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: var(--uiBGColor);
  z-index: 1;
  width: 30%;
  max-height: 60%;
  bottom: 20%;
  left: 10%;
  padding: 1%;
  overflow-y: hidden;
}

#invite {
  display: flex;
  flex: 1;
  background-color: var(--appBGColor2);
  padding: 2%;
  overflow-y: hidden;
}

#invite > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#invite > div > .title {
  color: var(--uiBGColor);
}

.inviteContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.inviteContainer > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.inviteContainer > div > h1 {
  font-size: 1.2em;
  text-align: center;
  padding: 5% 0;
}

.inviteContainer > div > :not(h1){
  word-break: break-all;
  text-align: left;
}

#inviteButton {
  flex: .2;
  font-weight: 900;
  margin-top: 2%;
}

.inviteeSelected{
  opacity: .9;
  border-radius: unset;
}

#create {
  display: flex;
  flex-direction: column;
  padding: 2%;
  flex: .25;
  background-Color: var(--uiBGColor2);
  background-image: url(/patterns/HyphaPattern.svg);
  background-size: contain;
}

#create > div {
  display: flex;
  justify-content: center;
  flex: 1;
}

#createNew {
  display: flex;
  flex-direction: row;
}

#createNew > button{
  flex: 1;
  font-size: 1rem;
  font-weight: 900;
  margin: 1%;
  border: var(--uiColor) 2px solid;
}

#createNew > button:hover {
  opacity: 1;
  background-color: var(--uiBGColor2);
}

#cancel {
  position: absolute;
  top: 5%;
  right: 5%;
  font-weight: 900;
}