.cardWrapper{
    position: relative;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 5%;
    background-color: var(--appBGColor2);
    border-radius: 5%;
}

.card h3{
    font-size: 2rem;
    margin: 5% 0;
}

.card h5{
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 5% 0;
}

.float{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}