.container{
    display: inline-block;
    width: fit-content;
    position: relative;
}

.container img {
    border-radius: 314px;
    height: inherit;
    width: inherit;
    max-height: inherit;
    max-width: inherit;
    z-index: 1;
    background-image: url(/svg/UserPlaceholder.svg);
}

/* Typing positioning & Tooltip container */
.container > div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1em;
    height: 1em;
}