.cardWrapper{
    position: relative;
    z-index: -1;
}

.card{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 20vw;
    background-color: var(--appBGColor2);
    border-radius: 5%;
}

.card h3{
    font-size: 2rem;
    margin: 5% 0;
}

.card h5{
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 5% 0;
}

.float{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profileBackground{
    position: absolute;
    border-radius: inherit;
    left: 0;
    top: 0;
    width: 100%;
    height: 33%;
}

@media only screen and (max-width: 670px) {
    .card{
        height: 100%;
        width: 100%;
        border-radius: unset;
    }
}