.profilePictureContainer{
    width: fit-content;
    position: relative;
}

.profilePictureContainer img {
    border-radius: 314px;
    height: inherit;
    width: inherit;
    max-height: inherit;
    max-width: inherit;
}

/* Typing positioning & Tooltip container */
.profilePictureContainer > div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1em;
    height: 1em;
}