/*SEND MESSAGE TEXT BAR*/

#sendMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--uiBGColor);
  min-height: 50px;
  margin: 1.5%;
  padding: 0 1% 0 1%;
  border-radius: 20px;
}

#sendMessage button,
#addFileLabel {
  font-size: 1.2em;
  background-color: transparent;
  color: var(--inputBGColor);
  border: none;
  user-select: none;
  cursor: pointer;
}

#sendMessage #addFileLabel {
  background-color: var(--inputBGColor);
  color: var(--inputColor);
  border-radius: 314px;
  padding: 0 0.4em 0 0.4em;
}

#sendMessage #addFileLabel:hover {
  background-color: var(--inputHoverBGColor);
  color: var(--inputHoverColor);
}

#sendMessage #addFile {
  display: none;
}

#sendMessage #chainlinkFeed {
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1px;
  transform: rotate(30deg);
}

#sendMessage #chainlinkFeed:hover {
  font-size: 2em;
  font-weight: 900;
  color: var(--redstone1);
  text-shadow: 1px 0 var(--redstone2);
  letter-spacing: 1px;
}

#sendMessage #pickEmoji {
  filter: opacity(0.5) drop-shadow(0 0 0 var(--inputColor));
  transform: scale(1.2);
}

#sendMessage #pickEmoji:hover {
  filter: none;
  transform: scale(1.4);
}

#sendMessage #messageSubmit:hover {
  color: var(--inputHoverBGColor);
}

#sendMessage > p {
  font-size: 20px;
  color: var(--uiColor);
  margin: 0 1% 0 1%;
}

#messageText {
  color: var(--inputColor);
  width: 75%;
  height: 100%;
  background-color: transparent;
  border: none;
}

#messageText::placeholder {
  color: var(--inputBGColor);
}

#messageText:focus-visible {
  border: none;
  outline: none;
}
